@charset "UTF-8";
:root {
  --cassiopeia-color-primary: #2A497A;
  --cassiopeia-color-link: #30638d;
  --link-color: #30638d;
  --link-color-rgb: 48, 99, 141;
  --cassiopeia-color-hover: #3C7DBF;
  --link-hover-color: #3C7DBF;
  --link-hover-color-rgb: 149, 75, 86;
}
